<div class="container">
  
  <div class="card text-center">
    <div class="card-header">
      <%= @fact.code %>
    </div>
    <div class="card-body">
      <h2 class="card-title"> <%= @fact.title %> </h2>
      <p class="card-text"> <%= @fact.description%> </p>
      
      <%= link_to "Editar", edit_fact_path(@fact), class:"btn btn-primary", style:"color:white" %>
      <%= link_to "Eliminar", edit_fact_path(@fact), class:"btn btn-danger", style:"color:white" %>

    </div>
    <div class="card-footer text-muted">
      <%= @fact.real_format %>
    </div>
  </div>
</div>